.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.978630;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.977586;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls2{letter-spacing:0.000000px;}
.ls1{letter-spacing:4.896000px;}
.ls0{letter-spacing:9.280000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
.fc0{color:rgb(235,235,235);}
.fc4{color:rgb(94,115,133);}
.fc1{color:rgb(255,255,255);}
.fc2{color:rgb(67,67,67);}
.fc3{color:rgb(114,103,90);}
.fs1{font-size:122.400000px;}
.fs2{font-size:144.000000px;}
.fs3{font-size:168.000000px;}
.fs0{font-size:232.000000px;}
.y0{bottom:0.000000px;}
.ye{bottom:24.599900px;}
.yb{bottom:25.326600px;}
.y9{bottom:45.000000px;}
.y10{bottom:51.000000px;}
.y13{bottom:66.000000px;}
.y8{bottom:129.000000px;}
.y7{bottom:171.000000px;}
.y6{bottom:213.000000px;}
.y5{bottom:255.000000px;}
.y4{bottom:297.000000px;}
.yf{bottom:299.000000px;}
.y15{bottom:304.000000px;}
.yc{bottom:371.000000px;}
.y3{bottom:381.000000px;}
.yd{bottom:394.400100px;}
.y16{bottom:417.000000px;}
.y2{bottom:423.000000px;}
.y14{bottom:468.000000px;}
.y1{bottom:520.000000px;}
.ya{bottom:539.673400px;}
.y12{bottom:616.000000px;}
.y11{bottom:675.000000px;}
.h3{height:75.199890px;}
.h2{height:96.767752px;}
.h6{height:113.574857px;}
.h4{height:113.844414px;}
.h5{height:132.504000px;}
.h7{height:132.818483px;}
.h1{height:182.981714px;}
.h0{height:768.000000px;}
.w1{width:837.199900px;}
.w0{width:1024.000000px;}
.x0{left:0.000000px;}
.x7{left:93.400050px;}
.xd{left:165.000000px;}
.xb{left:274.599950px;}
.x9{left:278.000000px;}
.x11{left:291.000000px;}
.x15{left:316.599950px;}
.x14{left:319.599950px;}
.x1{left:323.000000px;}
.xe{left:332.000000px;}
.x10{left:333.599950px;}
.x16{left:350.000000px;}
.x8{left:369.599950px;}
.xa{left:375.599950px;}
.xc{left:384.599950px;}
.x17{left:403.000000px;}
.xf{left:414.000000px;}
.x5{left:426.000000px;}
.x3{left:437.000000px;}
.x2{left:462.000000px;}
.x4{left:465.000000px;}
.x6{left:526.000000px;}
.x13{left:613.000000px;}
.x12{left:622.000000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls2{letter-spacing:0.000000pt;}
.ls1{letter-spacing:6.528000pt;}
.ls0{letter-spacing:12.373333pt;}
.ws0{word-spacing:0.000000pt;}
.fs1{font-size:163.200000pt;}
.fs2{font-size:192.000000pt;}
.fs3{font-size:224.000000pt;}
.fs0{font-size:309.333333pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:32.799867pt;}
.yb{bottom:33.768800pt;}
.y9{bottom:60.000000pt;}
.y10{bottom:68.000000pt;}
.y13{bottom:88.000000pt;}
.y8{bottom:172.000000pt;}
.y7{bottom:228.000000pt;}
.y6{bottom:284.000000pt;}
.y5{bottom:340.000000pt;}
.y4{bottom:396.000000pt;}
.yf{bottom:398.666667pt;}
.y15{bottom:405.333333pt;}
.yc{bottom:494.666667pt;}
.y3{bottom:508.000000pt;}
.yd{bottom:525.866800pt;}
.y16{bottom:556.000000pt;}
.y2{bottom:564.000000pt;}
.y14{bottom:624.000000pt;}
.y1{bottom:693.333333pt;}
.ya{bottom:719.564533pt;}
.y12{bottom:821.333333pt;}
.y11{bottom:900.000000pt;}
.h3{height:100.266520pt;}
.h2{height:129.023669pt;}
.h6{height:151.433143pt;}
.h4{height:151.792552pt;}
.h5{height:176.672000pt;}
.h7{height:177.091310pt;}
.h1{height:243.975619pt;}
.h0{height:1024.000000pt;}
.w1{width:1116.266533pt;}
.w0{width:1365.333333pt;}
.x0{left:0.000000pt;}
.x7{left:124.533400pt;}
.xd{left:220.000000pt;}
.xb{left:366.133267pt;}
.x9{left:370.666667pt;}
.x11{left:388.000000pt;}
.x15{left:422.133267pt;}
.x14{left:426.133267pt;}
.x1{left:430.666667pt;}
.xe{left:442.666667pt;}
.x10{left:444.799933pt;}
.x16{left:466.666667pt;}
.x8{left:492.799933pt;}
.xa{left:500.799933pt;}
.xc{left:512.799933pt;}
.x17{left:537.333333pt;}
.xf{left:552.000000pt;}
.x5{left:568.000000pt;}
.x3{left:582.666667pt;}
.x2{left:616.000000pt;}
.x4{left:620.000000pt;}
.x6{left:701.333333pt;}
.x13{left:817.333333pt;}
.x12{left:829.333333pt;}
}
